@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Cormorant+SC:wght@300;400;500;600;700&family=Underdog&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Underdog&display=swap');


*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    background: rgb(2, 11, 5);
    min-height: 100vh;
    margin-left: 2vw;
    margin-right: 2vw;
    background-attachment: fixed;
}

.container{ 
    /*isso serve para um padrao de sempre que eu for criar algo eu nao precisar colocar isso, por isso tem de ser em classe e os "quadrados em id", assim deixando chances de erro mais baixar e meus codigos MUITO menores*/
    /* por base ja deixam o conteudo centralizado.*/
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}



/* espacos */
/* custumo deixar tudo do site dentro de espacos, assim deixando a organizacao mais facil*/

#space1 { 
    height: auto;
    width: 100vw;
    margin-left: -2vw;
    margin-right: -2vw; 
    position: relative;
    z-index: 3;
}

#space2 { 
    height: auto;
    width: 100%;
    position: relative;
}

#space3 { 
    height: 1vw;
    width: 100%;
    position: relative;
    background-color: rgb(2, 11, 5);
    z-index: 11;
}



/*conteudo*/
#counteudo1 { 
    height: 30vw;
    width: 1vw ;
    position: relative;
    background-color: #64178d;
}
/* textos */

#titulo1 {
    color: #EFBF04;
    font-family: 'Underdog', serif;
    font-size: 3vw;
    font-weight: 30vw;
    top: 22vw;
    position: absolute;
    text-shadow: /* sombra pra dar o efeito de contorno */
    0.3vw 0.3vw 0 #000,
    -0.3vw 0.3vw 0 #000,
    -0.3vw -0.3vw 0 #000,
    0.3vw -0.3vw 0 #000;
    cursor: default; /* deixar o mouse igual, nao mudar o ponteiro */
    z-index: 4;
}

#titulo1 h4{
    margin-left: 6vw;
    font-size: 2.1vw;
    text-shadow: /* sombra pra dar o efeito de contorno */
    0.2vw 0.2vw 0 #000,
    -0.2vw 0.2vw 0 #000,
    -0.2vw -0.2vw 0 #000,
    0.2vw -0.2vw 0 #000;
}

/* extras texto */

#titulo1a{
    transition: color 0.4s ease, text-shadow .8s ease; /* animacao da cor e da sombra */
}


#titulo1tiny{
    transition: color 0.4s ease, text-shadow 0.4s ease;
}

#titulo1a:hover{
    color: #f9a8ff;
            text-shadow: /* sombra complicada */
    -.6vw .6vw 0 #a10fefbf,
    .9vw -.9vw 0 #a10fefbf,
    .2vw .2vw 0 #df1fa6bf,
    .2vw .2vw 0 #df1fa6bf,
    .2vw -.2vw 0 #df1fa6bf,
    .1vw -.2vw 0 #df1fa6bf,
    .2vw -.2vw 0 #a10fefbf,
    -.12vw .12vw 0 #a10fefbf;
}

#titulo1tiny:hover{
    color: #f9a8ff;
            text-shadow:
    .6vw -.6vw 0 #951dd6bf,
    -.9vw .9vw 0 #64178dbf,
    .12vw -.12vw 0 #853dacbf,
    -.15vw .15vw 0 #420463bf,
    .3vw -.3vw 0 #a10fefbf,
    -.6vw .6vw 0 #a50aa2bf,
    .9vw -.9vw 0 #df1fa6bf,
    -.3vw .3vw 0 #a10fefbf,
    -.6vw .6vw 0 #a50aa2bf,
    .9vw -.9vw 0 #df1fa6bf,
    -.9vw -.9vw 0 #df1fa6bf,
    -.6vw -.6vw 0 #951dd6bf,
    -.9vw -.9vw 0 #64178dbf,
    -.12vw -.12vw 0 #853dacbf,
    -.15vw -.15vw 0 #420463bf,
    -.3vw -.3vw 0 #a10fefbf,
    -.6vw -.6vw 0 #a50aa2bf,
    -.9vw -.9vw 0 #df1fa6bf,
    -.3vw -.3vw 0 #a10fefbf,
    -.6vw .6vw 0 #a50aa2bf,
    -.9vw -.9vw 0 #df1fa6bf,
    -.9vw -.9vw 0 #df1fa6bf,
    -.3vw .3vw 0 #a10fefbf,
    -.6vw .10vw 0 #a50aa2bf,
    -.9vw .11vw 0 #df1fa6bf,
    -.9vw .9vw 0 #df1fa6bf,
    -.12vw -.12vw 0 #64178dbf;
    
}
/* img */

#space1 img{ 
    width: 100vw;
    object-fit: cover;
    z-index: -1;
}

#wall{ 
    width: 100vw;
    z-index: -1;
    margin-left: -2vw;
    margin-right: -2vw; 
    filter: brightness(.4);
}

#portao, #portao2 {
    width: 26vw;
    position: absolute;
    bottom: .4vw;
    transform: translate(-50%);
    margin-left: -2vw;
    margin-right: -2vw; 
    height: auto;
    left: 50%;
    pointer-events: auto; /* permitir hover apenas nestas */
    cursor:pointer ;
    filter: brightness(.8);
}
#portao { 
    z-index: 4;
}

#portao2 { 
    z-index: -1;
    transition: bottom 1.5s ease-out;
}

#portao-container:hover #portao2 {
    bottom: 25vw;
    cursor: grab;
}

#portao_fundo { 
    width: 45vw;
    height: 50vw;
    background-color: #000000;
    top: 155vw;
    position: absolute;
    z-index: 3;
    left: 50%;
    transform: translate(-50%);
    margin-left: -2vw;
    margin-right: -2vw; 
    border-top-left-radius: 20vw;
    border-top-right-radius: 20vw;

}


img { /* nao deixar selecionavel a imagem */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#fundodun{
    height: 20vw;
    position: absolute;
    bottom: .7vw;
    transform: translate(-50%);
    margin-left: -2vw;
    margin-right: -2vw; 
    left: 50%;
    pointer-events: auto; /* permitir hover apenas nestas */
    cursor:pointer ;
    z-index: -2;
    filter: brightness(.25);
}

#dragon1, #dragon2{
    position: absolute;
    z-index: 99;
    right: -13vw;
    top: 63.3vw;
    filter: brightness(.7);
    height: 11vw;
}

#dragon2{
    position: absolute;
    left: -13vw;
    transform: rotateY(180deg);}

/* aniamcao */


/* especiais */

::selection { /* me permite mudar quando a gente ta selecionando, aquele quadrado azul que fica*/
    background-color: #EFBF04;
    color: black;
    text-shadow:
    .3vw .3vw 0 #EFBF04,
    -.3vw .3vw 0 #EFBF04,
    -.3vw -.3vw 0 #EFBF04,
    .3vw -.3vw 0 #EFBF04;
}

::-webkit-scrollbar {
    display:none; /* tirar a aba de scroll */
}
