:root {
    --branco: rgb(225, 215, 192);
    --parede: rgb(144, 57, 57);
    --teste: rgb(223, 81, 30);
    --sombra: rgba(6, 42, 115, 0.369);
    --sombra2: rgba(6, 42, 115, 0.233);

    --linha: 3px;
}


*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    min-height: 100vh;
    margin-left: 40px;
    margin-right: 40px;
    background-attachment: fixed;
    margin-top: 40px;
    background: #e2e2e2;
}

.container{
    background: #e2e2e2;
    background-image:  
    linear-gradient(0deg, var(--parede) var(--linha), transparent var(--linha)),
    linear-gradient(90deg, var(--parede) var(--linha), transparent var(--linha));
    background-size: 40px 40px;
    box-shadow: inset 16px 16px 8px -5px var(--sombra);
    position: relative;
    background-position: -3px 0px;
}

.shadowless{
    box-shadow:none;
}

.corredortopless{
    border: var(--linha) solid var(--parede);
    box-shadow: inset 16px 2px 8px -5px var(--sombra);
    border-top: none;
}

.corredortopbtless{
    border: var(--linha) solid var(--parede);
    box-shadow: inset 16px 2px 8px -5px var(--sombra);
    border-top: none;
    border-bottom: none;
}

.corredorsideless{
    border: var(--linha) solid var(--parede);
    box-shadow: inset 0px 16px 8px -5px var(--sombra);
}



#circulo1{
    top: 40px;
    position: absolute;
    left: 120px;
    width: 300px;
    height: 280px;
    border: var(--linha) solid var(--parede);
    border-radius: 40%;
}

#quadradro1{
    top: 42px;
    left: 760px;
    width: 280px;
    height: 240px;
    border: var(--linha) solid var(--parede);
    position: absolute;
    border-radius: 2vh;
}
#quadradro2{
    top: 640px;
    left: 760px;
    width: 283px;
    height: 203px;
    border: var(--linha) solid var(--parede);
    position: absolute;
    border-radius: 2vh;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#quadradro2_1{
    top: -3px;
    left: 277px;
    width: 243px;
    height: 203px;
    border: var(--linha) solid var(--parede);
    position: absolute;
    border-radius: 2vh;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
}

#quadradro2_2{
    top: -243px;
    left: 277px;
    width: 243px;
    height: 243px;
    border: var(--linha) solid var(--parede);
    position: absolute;
    border-radius: 2vh;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#quadradro3{
    top: 243px;
    left: 1407px;
    width: 160px;
    height: 400px;
    border: var(--linha) solid var(--parede);
    position: absolute;
    border-radius: 2vh;
}

#quadradro4{
    top: 560px;
    left: 160px;
    width: 120px;
    height: 120px;
    border: var(--linha) solid var(--parede);
    position: absolute;
    border-radius: 2vh;
}

#quadradro4_1{
    top: 0px;
    left: 40px;
    width: 40px;
    height: 40px;
    position: absolute;
}

#corredor1{
    top: 282px;
    left: 880px;
    width: 43px;
    height: 363px;
    position: absolute;
    background-position: -2.5px 1px;
}
#corredor1_1{
    top: 0px;
    left: 120px;
    width: 40px;
    height: 40px;
    position: absolute;
    background-position: -2.5px 0px;
}

#corredor1_2{
    top: 0px;
    left: 280px;
    width: 40px;
    height: 40px;
    position: absolute;
    background-position: -2.5px 0px;
}
#corredor1_3{
    top: 80px;
    left: 0px;
    width: 40px;
    height: 40px;
    position: absolute;
    background-position: -2.5px 0px;
}
#corredor2_2{
    top: 160px;
    left: 40px;
    width: 83px;
    height: 43px;
    position: absolute;
    z-index: 2;
    border: var(--linha) solid var(--parede);
}

#corredor2_1{
    top: 120px;
    left: 0px;
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 2;
    border: none;
    background-color: '';
}

#corredor2_3{
    top: 200px;
    left: 40px;
    width: 43px;
    height: 563px;
    position: absolute;
    z-index: 2;
    border: var(--linha) solid var(--parede);
}

#corredor2_4{
    top: 720px;
    left: 80px;
    width: 683px;
    height: 43px;
    position: absolute;
    z-index: 2;
    border: var(--linha) solid var(--parede);
}

#corredor3{
    top: 480px;
    left: 80px;
    width: 803px;
    height: 43px;
    position: absolute;
    z-index: 2;
    border: var(--linha) solid var(--parede);
}

#corredor3_1{
    left: 800px;
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 2;
}

#corredor4{
    top: 520px;
    left: 200px;
    width: 43px;
    height: 43px;
    position: absolute;
    z-index: 2;
    border: var(--linha) solid var(--parede);
}



.blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent; 
    z-index: 0;
    pointer-events: none; 
    transition: backdrop-filter .4s ease, background-color .4s ease;
}
.blur.ativo {
    backdrop-filter: blur(5px);
    background-color: rgba(255,255,255,0.2);
    z-index: 3;
}
#circulo1:hover #corredor2_1, 
#circulo1:hover, 
#quadradro1:hover, 
#quadradro2:hover,
#quadradro3:hover,
#quadradro4:hover{
    z-index: 0;
}

#corredor1_1::before, 
#corredor2_1::before, 
#corredor1_2::before, 
#corredor1_3::before,
#corredor3_1::before,
#quadradro4_1::before{
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 40px;
    height: 40px;
    background:
    radial-gradient(circle at 0 0, var(--sombra) 15%, transparent 30%);
    background-size: 40px;
    background-repeat: none;
    z-index: 2;
}

.hoverido {
  position: absolute;
  width: 260px;
  height: 360px;
  background-color: rgba(27, 26, 26, 0.925);
  border-radius: 20px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
  right: -170px;
  top: 10px;
  padding: 16px;
}

.hoverido.ativo {
  opacity: 1;
  pointer-events: auto;
}

.hoverido p{
    color: #e2e2e2;
    text-align: left;
    font-family: "IM Fell English", serif;
    font-size: 23px;
    font-style: italic;
}

.hoverido h2{
    color: #e2e2e2;
    text-align: center;
    font-size: 30px;
    margin-bottom: 6px;
    font-family: "Cinzel", serif;
}

#hoverido-circulo1 {
    right: -210px;
    top: 50px;
}

#hoverido-quadradro4{
    right: -355px;
    top: 20px;
    height: 280px;
    width: 380px;
    letter-spacing: 2px;
}

#negrito{
    color: gold;
}