:root {
    --branco: rgb(225, 215, 192);
    --parede: rgb(144, 57, 57);
    --teste: rgb(223, 81, 30);
    --sombra: rgba(6, 42, 115, 0.369);
    --sombra2: rgba(6, 42, 115, 0.233);

    --linha: 3px;
}


*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    min-height: 100vh;
    margin-left: 40px;
    margin-right: 40px;
    background-attachment: fixed;
    margin-top: 40px;
    background: #e2e2e2;
}

.container{
    background: #e2e2e2;
    background-image:  
    linear-gradient(0deg, var(--parede) var(--linha), transparent var(--linha)),
    linear-gradient(90deg, var(--parede) var(--linha), transparent var(--linha));
    background-size: 40px 40px;
    box-shadow: inset 16px 16px 8px -5px var(--sombra);
    position: relative;
    background-position: -3px 0px;
}

.shadowless{
    box-shadow:none;
}

.corredortopless{
    border: var(--linha) solid var(--parede);
    box-shadow: inset 16px 2px 8px -5px var(--sombra);
    border-top: none;
}
.corredorsideless{
    border: var(--linha) solid var(--parede);
    box-shadow: inset 0px 16px 8px -5px var(--sombra);
}

#circulo1{
    top: 40px;
    position: absolute;
    left: 120px;
    width: 300px;
    height: 280px;
    border: var(--linha) solid var(--parede);
    border-radius: 40%;
}

#quadradro1{
    top: 40px;
    left: 480px;
    width: 280px;
    height: 240px;
    border: var(--linha) solid var(--parede);
    position: absolute;
    border-radius: 2vh;
}

#corredor1{
    top: 280px;
    left: 600px;
    width: 43px;
    height: 360px;
    position: absolute;
}
#corredor2_2{
    top: 160px;
    left: 40px;
    width: 83px;
    height: 43px;
    position: absolute;
    z-index: 2;
    border: var(--linha) solid var(--parede);
}

#corredor2_1{
    top: 120px;
    left: 0px;
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 2;
    border: none;
    background-color: '';
}

#corredor2_1::before {
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 40px;
    height: 40px;
    background:
    radial-gradient(circle at 0 0, var(--sombra) 15%, transparent 30%);
    background-size: 40px;
    background-repeat: none;
    z-index: 2;
}

#corredor2_3{
    top: 200px;
    left: 40px;
    width: 43px;
    height: 603px;
    position: absolute;
    z-index: 2;
    border: var(--linha) solid var(--parede);
}

.blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent; 
    z-index: 0;
    pointer-events: none; 
    transition: backdrop-filter 0.6s ease, background-color 0.3s ease;
}
.blur.ativo {
    backdrop-filter: blur(5px);
    background-color: rgba(255,255,255,0.2);
    z-index: 3;
    
}
#circulo1:hover #corredor2_1, #circulo1:hover, #quadradro1:hover{
    z-index: 4;
}
#circulo1:hover, #quadradro1:hover {    
    top: 20px;
}
